webdrivermanager==0.10.0
auto-py-to-exe==2.19.0
selenium==3.141.0
pandas==1.2.5
openpyxl==3.0.9
webdriver-manager==3.5.1
## The following requirements were added by pip freeze:
altgraph==0.17.2
appdirs==1.4.4
beautifulsoup4==4.11.1
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
configparser==5.2.0
crayons==0.4.0
Eel==0.12.4
et-xmlfile==1.1.0
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
idna==3.3
lxml==4.8.0
numpy==1.22.3
pyinstaller==5.0.1
pyinstaller-hooks-contrib==2022.4
PySimpleGUI==4.60.0
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
six==1.16.0
soupsieve==2.3.2.post1
tqdm==4.64.0
urllib3==1.26.9
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0